.lead__img-container {
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .lead__img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 54.68%;
  }
}

@media screen and (min-width: 1024px) {
  .lead__img-container {
    padding-bottom: 56.3%;
  }
}