.page {
  overflow: hidden;
  padding: 1rem 1rem 1.5rem;
  box-sizing: border-box;
  background-color: #2a2c2f;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  .page {
    padding: 1.875rem 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    padding: 1.875rem 3rem 3rem;
  }
}
