.places__url {
  display: inline-block;
  margin-top: .5rem;
  color: #fff;
  font: 18px/30px 'Inter', Arial, sans-serif;
  opacity: 1;
  transition: opacity .12s cubic-bezier(.0,.0,.2,1) 0s;
  will-change: opacity;
}

.places__url:focus,
.places__url:hover {
  opacity: .5;
}
