.header__lang {
  display: inline-block;
  margin-left: 1rem;
  color: #fff;
  font: 18px/17px Inter, Arial, sans-serif;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity .12s cubic-bezier(.0,.0,.2,1) 0s;
  -o-transition: opacity .12s cubic-bezier(.0,.0,.2,1) 0s;
  transition: opacity .12s cubic-bezier(.0,.0,.2,1) 0s;
  will-change: opacity;
}

.header__lang:focus,
.header__lang:hover {
  opacity: .7;
}

@media screen and (min-width: 768px) {
  .header__lang {
    margin-left: 1.125rem;
    font-size: 24px;
    line-height: 23px;
  }
}
