@import './__title/lead__title.css';
@import './__subtitle/lead__subtitle.css';
@import './__img-wrapper/lead__img-wrapper.css';
@import './__img-container/lead__img-container.css';
@import './__img/lead__img.css';
@import './__caption/lead__caption.css';

.lead {
  width: 100%;
  max-width: 61.5rem;
  margin: 3rem auto 4rem;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .lead {
    margin-bottom: 5rem;
  }
}
