.cover__subtitle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  z-index: 1;
  width: calc(100% - 2rem);
  margin: 0 auto;
  font: 14px/17px 'Inter', Arial, sans-serif;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    bottom: 2.5rem;
    width: 100%;
    max-width: 382px;
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    bottom: 3rem;
  }
}
