.cover__subtitle {
  grid-row: 3 / -1;
  width: calc(100% - 2rem);
  max-width: 23.875rem;
  margin: 0 auto;
  font: 14px/17px 'Inter', Arial, sans-serif;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 26px;
  }
}
