@import './__logo/header__logo.css';
@import './__lang-switch/header__lang-switch.css';
@import './__lang/header__lang.css';
@import './__lang-link/header__lang-link.css';
@import './__lang-link/_current/header__lang-link_current.css';

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  width: 100%;
  max-width: 74rem;
  margin: 0 auto;
}
