.footer__link-item:not(:last-child) {
  margin: 0 0 1rem;
}

@media screen and (min-width: 768px) {
  .footer__link-item {
    display: inline-block;
  }

  .footer__link-item:not(:last-child) {
    margin: 0 1.125rem 0 0;
  }
}
