.lead__title {
  width: 100%;
  max-width: 48.875rem;
  margin: 0 auto .5rem;
  font: 40px/44px 'InterBlack', Arial, sans-serif;
  font-weight: 900;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    margin-bottom: 3rem;
    font-size: 96px;
    line-height: 93px;
  }
}
