.video__icon-play {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2.5625rem;
  height: 2.5625rem;
  background-image: url('./icon-play.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

@media screen and (min-width: 375px) {
  .video__icon-play {
    top: 1.5rem;
    left: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .video__icon-play {
    top: 1.875rem;
    left: 1.875rem;
  }
}
