.comments__item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 1024px) {
  .comments__item {
    align-items: flex-start;
  }
}
