.content-subtitle {
  width: 100%;
  max-width: 40rem;
  margin: 1rem auto 0;
  font: 16px/23px 'Inter', Arial, sans-serif;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .content-subtitle {
    margin-top: 1.5rem;
    font-size: 24px;
    line-height: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .content-subtitle {
    margin-top: 3rem;
  }
}
