@import './__item/cover__item.css';
@import './__title/cover__title.css';
@import './__subtitle/cover__subtitle.css';
@import './__img-bg/cover__img-bg.css';

.cover {
  margin: 4rem -1rem;
  font-size: 0;
}

@media screen and (min-width: 375px) {
  .cover {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 6.375rem -1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 6.375rem -3rem 10rem;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin-right: auto;
    margin-left: auto;
  }
}
