@import './__link-list/footer__link-list.css';
@import './__link-item/footer__link-item.css';
@import './__link/footer__link.css';
@import './__copyright/footer__copyright.css';

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  max-width: 74rem;
  margin: 4rem auto 0;
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 6.375rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 10rem;
  }
}
