.lead__img-wrapper {
  max-height: 211px;
  margin: 0 -1rem;
}

@media screen and (min-width: 375px) {
  .lead__img-wrapper {
    max-height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .lead__img-wrapper {
    max-width: 984px;
    max-height: 554px;
    margin: 0 -1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .lead__img-wrapper {
    margin: 0 auto;
  }
}
